<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a href="#" class="navbar-brand" routerLink='/' routerLinkActive="active">Lets Date</a>

      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/members'>Matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/lists'>Lists</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/messages'>Messages</a>
          </li>
        </ng-container>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink='/errors'>Errors</a>
        </li>
      </ul>

      <div *ngIf="(accountService.currentUser$ | async) as user" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>   
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink='/member/edit'><i class="fa fa-user"></i>Edit Profile</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"
            ><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>

      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm"  action="" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" autocomplete="off">
        <input
           type="text" 
           placeholder="Username" 
           name="username" 
           [(ngModel)]="model.username"
           class="form-control mr-sm-2"  required>
        <input 
          type="password" 
          placeholder="Password" 
          name="password" 
          [(ngModel)]="model.password"
          class="form-control mr-sm-2"  required>
        <button  class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
  </div>
</nav>
